.App-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #27304a;
}

.App-box {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.App {
  width: 100%;
  margin: auto;
  max-width: 600px;
  position: relative;
}

.App-button{
  background-color: #ab2c56;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
}
.App-button[disabled] {
  background-color: gray;
}